<html>
<title>Welcom To prodous</title>
<head><link rel="stylesheet" href="/stylesheets/style.css"></head>
<script>
function validateform(form)
{
   var postdata=form.postdata.value;
   if(postdata=="")
   {
   	alert("please type your post")
   	return false;
   }
   return true;
}
</script>
<body>
<center>
<h3><font color="red">Post successfull inserted to databae</font></h3>
<div id=post>
<form method='post' action="/insertpost" name="post" onsubmit=" return validateform(this);">
<textarea rows=4 cols="50" name="postdata"></textarea>
<br>
<input type="submit" value="Post" class=button>
</from>
<div>
</center>
</body>
</html>
